<!DOCTYPE html>
<html ng-app="training">
<head>
    <title></title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="font-awesome/css/font-awesome.css"/>
    <link rel="stylesheet" href="css/style.css"/>

    <script type="text/javascript" src="js/external/jquery.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.js"></script>

    <script type="text/javascript" src="js/external/angular.js"></script>
    <script type="text/javascript" src="js/directives.js"></script>
</head>
<body >
    <input ng-model="value" type="text"/> <br>
    Bi-directional binding: <input ng-model="bidir" type="text"/><br>
    <div mm-test mm-atr="witaj {{ value }}" mm-bi="bidir"></div>
</body>
</html>