<div class="speaker col-3" ng-mouseover="">
    <div style="position: relative; " class="thumbnail">

        <img ng-src="{{ speaker.image }}" />

            <!--<div style="position: absolute; top: 0px; right: 5px;">-->
                <!--<i class="icon-twitter icon-2x clearfix"></i>-->
                <!--<i class="icon-twitter icon-2x"></i>-->
            <!--</div>-->
        <div class="caption">
            <h3 class="name">{{ speaker.firstName }} {{ speaker.lastName }}</h3>
            <div class="title">{{ speaker.presentation.title }}</div>
        </div>
    </div>
</div>